*{
    margin: 0;
    padding: 0;
}
body{
@font-face{
    font-family: "Open Sans";
    src: url("font/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("font/OpenSans-Regular-webfont.woff") format("woff");
}
    }
.header__bg_img{
    position: absolute;
    width: 1536px;
    height: 753px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
}
.header__bg_gradient{
    position: absolute;
    width: 1536px;
    height: 753px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(45, 50, 79, 0.8) 0%, rgba(0, 147, 221, 0.72) 100%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
}
.article__menu1_bg{
    position: absolute;
    width: 227px;
    height: 45px;
    left: 30px;
    top: 230px;
    background: #2D324F;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
    border-radius: 5px
}
.article__menu1_text{
    position: absolute;
    left: 46px;
    top: 242px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F2F2F2;
    z-index: 1;
}
.article__menu2_bg{
    position: absolute;
    width: 227px;
    height: 45px;
    left: 30px;
    top: 300px;
    background: #2D324F;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
    border-radius: 5px
}
.article__menu2_text{
    position: absolute;
    left: 46px;
    top: 310px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F2F2F2;
    z-index: 1;
}
.article__menu3_bg{
    position: absolute;
    width: 227px;
    height: 45px;
    left: 30px;
    top: 370px;
    background: #2D324F;
    box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
    border-radius: 5px;
}
.article__menu3_text{
    position: absolute;
    left: 46px;
    top: 380px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F2F2F2;
    z-index: 1;
}
.article__menu4_bg{
    position: absolute;
    width: 227px;
    height: 45px;
    left: 30px;
    top: 440px;
    background: #2D324F;
    box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
    border-radius: 5px;
}
.article__menu4_text{
    position: absolute;
    left: 46px;
    top: 450px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #F2F2F2;
    z-index: 1;
}
.aside__line_one{
    position: absolute;
    width: 34px;
    height: 24px;
    left: 340px;
    top: 345px;
}
.aside__planet{
    position: absolute;
    left: 383px;
    top: 95px;
}
.aside__line_two{
    position: absolute;
    width: 34px;
    height: 24px;
    left: 1240px;
    top: 345px;
}
.aside__text_h1{
    position: absolute;
    width: 300px;
    height: 99px;
    left: 443px;
    top: 560px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.aside__text_price{
    position: absolute;
    width: 60px;
    height: 24px;
    left: 687px;
    top: 575px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.aside__text__number_price{
    position: absolute;
    width: 76px;
    height: 24px;
    left: 687px;
    top: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.aside__text__sale{
    position: absolute;
    width: 68px;
    height: 25px;
    left: 687px;
    top: 630px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.aside__text__sale_Decision{
    position: absolute;
    width: 161px;
    height: 24px;
    left: 687px;
    top: 660px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.aside__text_Several_locations{
    position: absolute;
    width: 162px;
    height: 24px;
    left: 870px;
    top: 575px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.aside__text__Several_locations_Decision{
    position: absolute;
    width: 141px;
    height: 24px;
    left: 870px;
    top: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF
}
.aside__text_Mass{
    position: absolute;
    width: 49px;
    height: 24px;
    left: 870px;
    top: 630px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.aside__text__Mass_kg{
    position: absolute;
    width: 150px;
    height: 24px;
    left: 870px;
    top: 660px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.aside__text_Powered_by{
    position: absolute;
    width: 96px;
    height: 24px;
    left: 1032px;
    top: 575px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.aside__text_Power_socket{
    position: absolute;
    width: 108px;
    height: 24px;
    left: 1032px;
    top: 600px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.text__footer_Become_dealer{
    position: absolute;
    width: 114px;
    height: 32px;
    left: 30px;
    top: 700px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #F2F2F2;
}
.line_one{
    position: absolute;
    width: 114px;
    height: 0px;
    left: 30px;
    top: 723px;
    border: 2px solid rgba(242, 242, 242, 0.5);
}
.text__footer_Request_a_test{
    position: absolute;
    width: 166px;
    height: 32px;
    left: 178px;
    top: 700px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #F2F2F2;
}
.line_two{
    position: absolute;
    width: 114px;
    height: 0px;
    left: 178px;
    top: 723px;
    border: 2px solid rgba(242, 242, 242, 0.5);
}
.mobile-menu{
    display: none;
}
.menu-btn{
 position: relative;
    float: right;
    right: 110px;
    top: 30px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
}
.menu-btn span, .menu-btn span:before, .menu-btn span:after{
    display: block;
    width: 30px;
    height: 4px;
    background: #222;
    position: absolute;
    top: 46%;
    left: 33%;
    margin-left: -9px;
    margin-top: -1px;
    transition:  all 0.4s linear;
}
.menu-btn span:before, .menu-btn span:after{
    content: '';
}
.menu-btn span:before{
    transform: translateY(-5px);
}
.menu-btn span:after{
    transform: translateY(5px);
}
.mobile-menu{
    display: none;
}

@media only screen and (min-width: 360px) and (max-height: 640px) {
.mobile-menu{
    display: block;
    }
    .menu-btn.menu-active span:before{
        width: 10px;
        transform: rotate(-45deg);
        transform-origin: left bottom;
    }
    .menu-btn.menu-active span:after{
        width: 10px;
        transform: rotate(45deg);
        transform-origin: left top;
    }
    .menu-wrap{
        visibility: hidden;
        opacity: 0;
    }
    .menu-wrap.menu-active{
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        background: #222;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .menu-wrap.menu-active .menu li .article__menu2_text .article__menu1_text .article__menu3_text .article__menu4_text{
        display: block;
        text-align: center;
        font-size: 100px;
    }
}



